body{
  background-color: rgb(255, 153, 179);
}

p
{
  color: white;
  font-family: arial;
  font-size: 30;
}

h
{
  color: white;
  font-size: 35;
}

h2
{
  color: white;
  font-size: 25;
}

h1
{
  color: white;
  font-size: 25;
}

h3
{
  color: white;
  font-size: 25;
}
